.footer{
    margin-top: 100px;
    padding: 15px;
    p{
        font-size: .8em !important;
        margin-bottom: 4px;
        padding: 0px;
    }
    img{
        height:40px;
        margin: 10px 0px 10px 0px;
    }
}