<footer id="footer" class="footer text-center bg-dark text-white">
    <p>Fabricamos cualquier diseño de acuerdo a sus requerimientos, en Acero Inoxidable y también en Cristal Templado.
      Barandales con tubo de acero inoxidable tipo 304. Acabado satinado.</p>
    <p>Cabe mencionar que no utilizamos tornillería para el armado del barandal de acero inoxidable, todo va soldado
      para evitar bordes y desajuste con el tiempo. Sólo se llevan tornillos de acero inoxidable de 1/4" en las bridas
      para sujeción al piso y muro, con taquetes expansivos.</p>
    <br>
    <img class="footer-logo" src="../../assets/img/logosmall.png" alt="logo">
    <b><p>Barandales Acerox</p></b>
    <p>2020</p>
    <p>Todos los derechos reservados</p>
  </footer>