<div id="contact" class="block">
  <h1 class="text-center">Contacto</h1>
  <br>
  <div class="container">
    <div class="row halves">
      <div class="col-sm-4 text-center">
        <img class="image" src="../../assets/img/fb.png" />
        <p class="text-center">Visítenos en nuestro perfil oficial de facebook <a
          href="https://www.facebook.com/barandalesacerox/"><b>barandalesacerox</b></a>.</p>
      </div>
      <div class="col-sm-4 text-center">
        <img class="image" src="../../assets/img/wa.png" />
        <p class="text-center">Llámenos o envíenos un mensaje de Whatsapp al <b> 33 21 72 69 11 </b> para informes y
          cotizaciones</p>
      </div>
      <div class="col-sm-4 text-center">
        <img class="image" src="../../assets/img/ma.png" />
        <p class="text-center">
          Escríbanos a nuestra dirección de correo electrónico para informes y cotizaciones
          <b><a href="mailto:ventas@barandalesacerox.com?Subject=Informes" target="_top">ventas@barandalesacerox.com</a></b>
        </p>
      </div>
    </div>
  </div>
</div>