<div id="us" class="block">
    <h1 class="text-center">Nosotros</h1>
    <br>
    <div class="container text-center">
      <h2 class="text-center">¿Quienes somos?</h2>
      <img class="image" src="../../assets/img/bootstrap-icons-1.0.0/question-circle-fill.svg" />
      <br>
      <p class="text-center">Somos una empresa con más de 10 años de experiencia fabricando barandales de acero
        inoxidable
        y
        cristal templado para interiores y exteriores de plazas, centros comerciales, hoteles, hospitales y
        residencias.</p>
      <p class="text-center">Nuestra calidad de fabricación así como la instalación son de las mejores en el mercado,
        somos
        profesionales en lo que hacemos y nos especializamos en Barandales de Acero Inoxidable.</p>
    </div>
    <br>
    <div class="container">
      <div class="row halves">
        <div class="col-sm-6 text-center">
          <h2 class="text-center">Misión</h2>
          <img class="image" src="../../assets/img/target.png" />
          <p class="text-center">Brindar nuestros servicios de diseño, ingeniería y construcción a todos los clientes
            actuales y
            potenciales, con óptimos estándares de calidad, al menor costo y en el menor tiempo, generando la máxima
            rentabilidad a la empresa, promoviendo un mejor nivel de vida a nuestros integrantes y actuando siempre
            como empresa socialmente responsable.</p>
        </div>
        <div class="col-sm-6 text-center">
          <h2 class="text-center">Visión</h2>
          <img class="image" src="../../assets/img/bootstrap-icons-1.0.0/eye-fill.svg" />
          <p class="text-center">Ser una empresa líder con importante presencia a nivel nacional en todos los proyectos
            de
            diseño,
            ingeniería y construcción que desarrollamos, con personal altamente calificado, con la más moderna
            tecnología, actualizados sistemas de seguimiento y control, optimizando los costos para ofrecer la mejor
            opción al cliente.</p>
        </div>
      </div>
    </div>
  </div>