.image{
    height: 100px;
    margin: 20px;
}
.block{
    margin-top: 100px;
    padding: 20px 0px 20px 0px;
}
br{
    margin: 10px 0px 10px 0px;
}
p{
    font-size: 1.2em;
}
.halves p{
    padding: 10px 0px 10px 0px;
}