<div id="works" class="block">
    <h1 class="text-center">Trabajos recientes</h1>
    <br>
    <div class="container text-center">
      <p class="text-center">En esta sección podrá observar nuestros trabajos más recientes publicados en nuestro
        perfil oficial de Facebook.</p>
        <div class="fb-page" data-href="https://www.facebook.com/barandalesacerox/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/barandalesacerox/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/barandalesacerox/">Barandales Acerox</a></blockquote></div>
    </div>
  </div>
